@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Event>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<h1>
@Model.Value("eventTitle")
</h1>

<br>

<p>
@Model.Value("eventDescription", fallback: Fallback.ToAncestors)
</p>
<p>
@Model.Value("eventDate", fallback: Fallback.ToAncestors)
</p>


@{
	var selection = Umbraco.Content(Guid.Parse("c73f09a7-8a98-442e-8175-c22713bd4fb4"))
    .ChildrenOfType("event")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

